In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("PipesJoined.csv")

In [3]:
df.head()

,Unnamed: 0,PipeId,MaintenanceId,InspectionYear,MonthsLastRev,Severity,Incidence,Province,Town,YearBuilt,...,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle,BoolBridleFinal,Year,Month,Day
0,0,189311802,ZRV-00001972,2010,24,4,0,Barcelona,Sentmenat,2001,...,160.0,117.831,4.000,0,0,False,0,2010,10,1
1,1,188889914,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1999,...,160.0,1.292,0.025,0,0,False,0,2010,10,1
2,2,188889907,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1992,...,200.0,28.193,0.025,1,0,False,0,2010,10,1
3,3,188673355,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1998,...,200.0,66.259,0.025,5,0,False,0,2010,10,1
4,4,188558922,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1999,...,160.0,0.810,0.025,0,0,False,0,2010,10,1

In [4]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 22 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Unnamed: 0           6345344 non-null  int64
 1   PipeId               6345344 non-null  int64
 2   MaintenanceId        6345344 non-null  object
 3   InspectionYear       6345344 non-null  int64
 4   MonthsLastRev        6345344 non-null  int64
 5   Severity             6345344 non-null  int64
 6   Incidence            6345344 non-null  int64
 7   Province             6345344 non-null  object
 8   Town                 6345344 non-null  object
 9   YearBuilt            6345344 non-null  int64
 10  Material             6345344 non-null  object
 11  GasType              6345344 non-null  object
 12  Diameter             6345344 non-null  float64
 13  Length               6345344 non-null  float64
 14  Pressure             6345344 non-null  float64
 15  NumConnections       6345344 non-null  int64
 16  NumConnectionsUnder  6345344 non-null  int64
 17  BoolBridle           6345344 non-null  bool
 18  BoolBridleFinal      6345344 non-null  int64
 19  Year                 6345344 non-null  int64
 20  Month                6345344 non-null  int64
 21  Day                  6345344 non-null  int64
dtypes: bool(1), float64(3), int64(13), object(5)
memory usage: 1022.7+ MB

In [5]:
df.drop("Unnamed: 0",axis=1)

,PipeId,MaintenanceId,InspectionYear,MonthsLastRev,Severity,Incidence,Province,Town,YearBuilt,Material,...,Diameter,Length,Pressure,NumConnections,NumConnectionsUnder,BoolBridle,BoolBridleFinal,Year,Month,Day
0,189311802,ZRV-00001972,2010,24,4,0,Barcelona,Sentmenat,2001,PE,...,160.0,117.831,4.000,0,0,False,0,2010,10,1
1,188889914,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1999,PE,...,160.0,1.292,0.025,0,0,False,0,2010,10,1
2,188889907,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1992,PE,...,200.0,28.193,0.025,1,0,False,0,2010,10,1
3,188673355,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1998,PE,...,200.0,66.259,0.025,5,0,False,0,2010,10,1
4,188558922,ZRV-00001406,2010,22,4,0,Barcelona,Barcelona,1999,PE,...,160.0,0.810,0.025,0,0,False,0,2010,10,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6345339,280560178,ZRV-00002112,2021,23,4,0,Barcelona,Sabadell,2006,PE,...,160.0,10.041,0.025,0,0,False,0,2020,12,31
6345340,274990683,ZRV-00002112,2021,23,4,0,Barcelona,Sabadell,2005,PE,...,200.0,91.520,0.025,5,0,False,0,2020,12,31
6345341,280560172,ZRV-00002112,2021,23,4,0,Barcelona,Sabadell,2006,PE,...,160.0,0.843,0.025,0,0,False,0,2020,12,31
6345342,274990921,ZRV-00002112,2021,23,4,0,Barcelona,Sabadell,2005,PE,...,200.0,60.672,0.025,3,0,False,0,2020,12,31
6345343,274990929,ZRV-00002112,2021,23,4,0,Barcelona,Sabadell,1995,PE,...,200.0,3.470,0.025,0,0,False,0,2020,12,31

In [6]:
from sklearn.preprocessing import OneHotEncoder
# One-hot encode the Province feature
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
province_onehot = onehot_encoder.fit_transform(df[["Province"]]).toarray()
province_onehot_df = pd.DataFrame(province_onehot, columns=onehot_encoder.get_feature_names(["Province"]))

# Drop the original Province feature and concatenate the one-hot encoded features
df = df.drop("Province", axis=1)
df = pd.concat([df, province_onehot_df], axis=1)

C:\Users\rpola\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 59 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   PipeId                int64
 2   MaintenanceId         object
 3   InspectionYear        int64
 4   MonthsLastRev         int64
 5   Severity              int64
 6   Incidence             int64
 7   Town                  object
 8   YearBuilt             int64
 9   Material              object
 10  GasType               object
 11  Diameter              float64
 12  Length                float64
 13  Pressure              float64
 14  NumConnections        int64
 15  NumConnectionsUnder   int64
 16  BoolBridle            bool
 17  BoolBridleFinal       int64
 18  Year                  int64
 19  Month                 int64
 20  Day                   int64
 21  Province_Albacete     float64
 22  Province_Alicante     float64
 23  Province_Almeria      float64
 24  Province_Avila        float64
 25  Province_Barcelona    float64
 26  Province_Burgos       float64
 27  Province_CastellÃ³n    float64
 28  Province_Ciudad Real  float64
 29  Province_Cuenca       float64
 30  Province_CÃ¡diz        float64
 31  Province_CÃ³rdoba      float64
 32  Province_Girona       float64
 33  Province_Granada      float64
 34  Province_Guadalajara  float64
 35  Province_Huelva       float64
 36  Province_Huesca       float64
 37  Province_JaÃ©n         float64
 38  Province_La CoruÃ±a    float64
 39  Province_La Rioja     float64
 40  Province_LeÃ³n         float64
 41  Province_Lleida       float64
 42  Province_Lugo         float64
 43  Province_Madrid       float64
 44  Province_MÃ¡laga       float64
 45  Province_Orense       float64
 46  Province_Palencia     float64
 47  Province_Pontevedra   float64
 48  Province_Salamanca    float64
 49  Province_Segovia      float64
 50  Province_Sevilla      float64
 51  Province_Soria        float64
 52  Province_Tarragona    float64
 53  Province_Teruel       float64
 54  Province_Toledo       float64
 55  Province_Valencia     float64
 56  Province_Valladolid   float64
 57  Province_Zamora       float64
 58  Province_Zaragoza     float64
dtypes: bool(1), float64(41), int64(13), object(4)
memory usage: 2.7+ GB

In [8]:
# One-hot encode the Material feature
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
material_onehot = onehot_encoder.fit_transform(df[["Material"]]).toarray()
material_onehot_df = pd.DataFrame(material_onehot, columns=onehot_encoder.get_feature_names(["Material"]))

# Drop the original Material feature and concatenate the one-hot encoded features
df = df.drop("Material", axis=1)
df = pd.concat([df, material_onehot_df], axis=1)

C:\Users\rpola\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 69 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   PipeId                int64
 2   MaintenanceId         object
 3   InspectionYear        int64
 4   MonthsLastRev         int64
 5   Severity              int64
 6   Incidence             int64
 7   Town                  object
 8   YearBuilt             int64
 9   GasType               object
 10  Diameter              float64
 11  Length                float64
 12  Pressure              float64
 13  NumConnections        int64
 14  NumConnectionsUnder   int64
 15  BoolBridle            bool
 16  BoolBridleFinal       int64
 17  Year                  int64
 18  Month                 int64
 19  Day                   int64
 20  Province_Albacete     float64
 21  Province_Alicante     float64
 22  Province_Almeria      float64
 23  Province_Avila        float64
 24  Province_Barcelona    float64
 25  Province_Burgos       float64
 26  Province_CastellÃ³n    float64
 27  Province_Ciudad Real  float64
 28  Province_Cuenca       float64
 29  Province_CÃ¡diz        float64
 30  Province_CÃ³rdoba      float64
 31  Province_Girona       float64
 32  Province_Granada      float64
 33  Province_Guadalajara  float64
 34  Province_Huelva       float64
 35  Province_Huesca       float64
 36  Province_JaÃ©n         float64
 37  Province_La CoruÃ±a    float64
 38  Province_La Rioja     float64
 39  Province_LeÃ³n         float64
 40  Province_Lleida       float64
 41  Province_Lugo         float64
 42  Province_Madrid       float64
 43  Province_MÃ¡laga       float64
 44  Province_Orense       float64
 45  Province_Palencia     float64
 46  Province_Pontevedra   float64
 47  Province_Salamanca    float64
 48  Province_Segovia      float64
 49  Province_Sevilla      float64
 50  Province_Soria        float64
 51  Province_Tarragona    float64
 52  Province_Teruel       float64
 53  Province_Toledo       float64
 54  Province_Valencia     float64
 55  Province_Valladolid   float64
 56  Province_Zamora       float64
 57  Province_Zaragoza     float64
 58  Material_AO           float64
 59  Material_CU           float64
 60  Material_FD           float64
 61  Material_FG           float64
 62  Material_FI           float64
 63  Material_FO           float64
 64  Material_PA           float64
 65  Material_PE           float64
 66  Material_PN           float64
 67  Material_PV           float64
 68  Material_ZD           float64
dtypes: bool(1), float64(52), int64(13), object(3)
memory usage: 3.2+ GB

In [10]:
# One-hot encode the GasType feature
onehot_encoder = OneHotEncoder(handle_unknown='ignore')
gastype_onehot = onehot_encoder.fit_transform(df[["GasType"]]).toarray()
gastype_onehot_df = pd.DataFrame(gastype_onehot, columns=onehot_encoder.get_feature_names(["GasType"]))

# Drop the original GasType feature and concatenate the one-hot encoded features
df = df.drop("GasType", axis=1)
df = pd.concat([df, gastype_onehot_df], axis=1)

C:\Users\rpola\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6345344 entries, 0 to 6345343
Data columns (total 70 columns):
 #   Column                Dtype
---  ------                -----
 0   Unnamed: 0            int64
 1   PipeId                int64
 2   MaintenanceId         object
 3   InspectionYear        int64
 4   MonthsLastRev         int64
 5   Severity              int64
 6   Incidence             int64
 7   Town                  object
 8   YearBuilt             int64
 9   Diameter              float64
 10  Length                float64
 11  Pressure              float64
 12  NumConnections        int64
 13  NumConnectionsUnder   int64
 14  BoolBridle            bool
 15  BoolBridleFinal       int64
 16  Year                  int64
 17  Month                 int64
 18  Day                   int64
 19  Province_Albacete     float64
 20  Province_Alicante     float64
 21  Province_Almeria      float64
 22  Province_Avila        float64
 23  Province_Barcelona    float64
 24  Province_Burgos       float64
 25  Province_CastellÃ³n    float64
 26  Province_Ciudad Real  float64
 27  Province_Cuenca       float64
 28  Province_CÃ¡diz        float64
 29  Province_CÃ³rdoba      float64
 30  Province_Girona       float64
 31  Province_Granada      float64
 32  Province_Guadalajara  float64
 33  Province_Huelva       float64
 34  Province_Huesca       float64
 35  Province_JaÃ©n         float64
 36  Province_La CoruÃ±a    float64
 37  Province_La Rioja     float64
 38  Province_LeÃ³n         float64
 39  Province_Lleida       float64
 40  Province_Lugo         float64
 41  Province_Madrid       float64
 42  Province_MÃ¡laga       float64
 43  Province_Orense       float64
 44  Province_Palencia     float64
 45  Province_Pontevedra   float64
 46  Province_Salamanca    float64
 47  Province_Segovia      float64
 48  Province_Sevilla      float64
 49  Province_Soria        float64
 50  Province_Tarragona    float64
 51  Province_Teruel       float64
 52  Province_Toledo       float64
 53  Province_Valencia     float64
 54  Province_Valladolid   float64
 55  Province_Zamora       float64
 56  Province_Zaragoza     float64
 57  Material_AO           float64
 58  Material_CU           float64
 59  Material_FD           float64
 60  Material_FG           float64
 61  Material_FI           float64
 62  Material_FO           float64
 63  Material_PA           float64
 64  Material_PE           float64
 65  Material_PN           float64
 66  Material_PV           float64
 67  Material_ZD           float64
 68  GasType_Gas natural   float64
 69  GasType_Gas propano   float64
dtypes: bool(1), float64(54), int64(13), object(2)
memory usage: 3.3+ GB

In [12]:
# Split the data into features and target variables
X = df.drop(["Unnamed: 0","Incidence","Town","MaintenanceId","Severity","BoolBridle"], axis=1)
y = df["Incidence"]

In [13]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
from sklearn.preprocessing import StandardScaler
scl=StandardScaler()
scl.fit(X_train)
X_train_sc = scl.transform(X_train)

# the result is returned as a numpy array, so let's convert it again to a Padnas Df
X_train_sc = pd.DataFrame(X_train_sc, columns=X_train.columns)

In [17]:
scl.fit(X_test)
X_test_sc = scl.transform(X_test)

# the result is returned as a numpy array, so let's convert it again to a Padnas Df
X_test_sc = pd.DataFrame(X_test_sc, columns=X_test.columns)

In [18]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression().fit(X_train_sc, y_train)
model

LogisticRegression()

In [19]:
prediction = model.predict(X_test)

In [23]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
acc = accuracy_score(y_test, prediction)

In [22]:
print(acc)

0.9980245360969341

In [24]:
model.score(X_test,y_test)

0.9980245360969341

In [26]:
model.score(X_train,y_train)

0.9980653136404155